{% extends 'monitoring/base.html' %}

{% load static %}

{% block title %}
Downloads
{% endblock %}


{% block content %}

{% include 'partials/_navlink.html' %}

<div class="container-fluid navbars">
    <div class="container-fluid">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- Filter Form -->
                    <form method="GET" class="form-inline filter-container d-flex justify-content-start" id="filterForm">

                        <div class="form-group mr-5">
                            <select id="searchUsername" name="searchUsername" class="form-select shadow">
                                <option value="">User</option>
                                {% for user in users %}
                                    <option value="{{ user.username }}" {% if selected_user == user.username %}selected{% endif %}>{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group ">
                            <select id="municipality" name="municipality" class="form-select search-filter shadow select-hidden accessible" style="width: 150px;">
                                <option value="">Municipality</option>
                                <option value="">----------</option>
                                {% for municipality in municipalities %}
                                <option value="{{ municipality.muni_id }}" {% if selected_municipality == municipality.muni_id|stringformat:"s" %}selected{% endif %}>{{ municipality.muni_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group mr-5">
                            <select id="barangay" name="barangay" class="form-select shadow" style="width: 150px;">
                                <option value="">Barangay</option>
                                <option value="">----------</option>
                                {% for barangay in barangays %}
                                <option value="{{ barangay.brgy_id }}" {% if selected_barangay == barangay.brgy_id %}selected{% endif %}>{{ barangay.brgy_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Start Month and End Month selectors -->
                        <div class="form-group">
                            <select id="startMonth" name="startMonth" class="form-select shadow">
                                <option value="">Month Start</option>
                                {% for month in months %}
                                <option value="{{ month }}" {% if start_month == month %}selected{% endif %}>{{ month }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mr-5">
                            <select id="endMonth" name="endMonth" class="form-select mr-5 shadow">
                                <option value="">Month End</option>
                                {% for month in months %}
                                <option value="{{ month }}" {% if end_month == month %}selected{% endif %}>{{ month }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        
                        <div class="form-group">
                            <input type="text" id="searchName" name="searchName" class="form-control shadow" placeholder="Search by Name" value="{{ request.GET.searchName }}">
                        </div>

                        

                        <!-- <button type="submit" class="btn btn-outline-secondary ml-3 mr-5  filter-button">
                            <i class="fas fa-filter"></i> FILTER
                        </button> -->
                        <button type="submit" class="btn btn-outline-primary ml-3 mr-5  filter-button">
                            <i class=""></i> Search
                        </button>


                        <!-- Download Buttons -->
                        <!-- <div class="d-flex justify-content-end my-3 ml-5">
                            <a href="" class="btn btn-danger btn-sm me-2"><i class="fas fa-file-pdf"></i> Download PDF</a>
                            <a href="" class="btn btn-success btn-sm"><i class="fas fa-file-excel"></i> Download Excel</a>
                        </div> -->
                    </form>
                </div>
                
                
                <div class="col-12">
                    <!-- Table Section -->
                    <div class="content">
                        <div class="container-fluid">
                            <section class="content">
                                <div class="row">
                                    <div class="col-12">                                     
                                        <div class="card px-3">
                                            <div class="card-body table-responsive">
                                                <h4 class="text-center mb-4 text-primary">BILIRAN PROVINCIAL HOSPITAL <br>ANIMAL BITE TREATMENT CENTER</h4>  
                                                <div class="d-flex justify-content-between mb-2">
                                                    <span id="reportingPeriod"></span>
                                                    <div>
                                                        <strong class="ms-3">Total patients: </strong> <span style="color: red; font-size: 18px;">{{ histories.paginator.count }}</span>
                                                        <strong class="ms-3">Male: </strong> <span style="color: red; font-size: 18px;">{{ male }}</span>
                                                        <strong class="ms-3">Female: </strong> <span style="color: red; font-size: 18px;">{{ female }}</span>
                                                        <strong class="ms-3">Dog: </strong> <span style="color: red; font-size: 18px;">{{ dog_count }}</span>
                                                        <strong class="ms-3">Cat: </strong> <span style="color: red; font-size: 18px;">{{ cat_count }}</span>
                                                        <strong class="ms-3">Other: </strong> <span style="color: red; font-size: 18px;">{{ other_animal_count }}</span>
                                                        <strong class="ms-3">15 and Below: </strong> <span style="color: red; font-size: 18px;">{{ age_15_or_less_count }}</span>
                                                        <strong class="ms-3">Above 15: </strong> <span style="color: red; font-size: 18px;">{{ age_above_15_count }}</span>
                                                    </div>
                                                </div>
                                                <div id="table-content">
                                                    <table class="table table-bordered table-striped table-hover">
                                                        <thead class="thead-secondary">
                                                            <tr>
                                                                <th rowspan="2">Registration No.</th>
                                                                <th rowspan="2">Registration Date</th>
                                                                <th rowspan="2">First Name</th>
                                                                <th rowspan="2">Last Name</th>
                                                                <th rowspan="2">Barangay</th>
                                                                <th rowspan="2">Municipality</th>
                                                                <th colspan="2">Age</th> 
                                                                <th rowspan="2">Sex</th>
                                                                <th rowspan="2">Date of Exposure</th>
                                                                <th rowspan="2">Biting Animal</th>
                                                                <th rowspan="2">Status of Biting Animal</th>
                                                                <th rowspan="2">Category of Bite</th>
                                                                <th rowspan="2">Anatomical Location</th>
                                                                <th rowspan="2">Animal Vaccination</th>
                                                                <th rowspan="2">Date of Birth</th>
                                                                <th colspan="6">Post Exposure Treatment</th>
                                                            </tr>
                                                            <tr>
                                                                <th>≤15</th>
                                                                <th>≥15</th>
                                                                <th>D0</th>
                                                                <th>D3</th>
                                                                <th>D7</th>
                                                                <th>D28</th>
                                                                <th>ERIG</th>
                                                                <th>HRIG</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for history in histories %}
                                                            <tr>
                                                                <td>{{ history.registration_no }}</td>
                                                                <td>{{ history.date_registered }}</td>
                                                                <td>{{ history.patient_id.first_name }}</td>
                                                                <td>{{ history.patient_id.last_name }}</td>
                                                                <td>{{ history.brgy_id.brgy_name }}</td>
                                                                <td>{{ history.muni_id.muni_name }}</td>
                                                                <td>{% if history.age <= 15 %}{{ history.age }}{% endif %}</td>
                                                                <td>{% if history.age > 15 %}{{ history.age }}{% endif %}</td>
                                                                <td>{{ history.patient_id.sex }}</td>
                                                                <td>{{ history.date_of_exposure }}</td>
                                                                <td>{{ history.source_of_exposure }}</td>
                                                                <td>{{ history.status_of_animal }}</td>
                                                                <td>{{ history.category_of_exposure }}</td>
                                                                <td>{{ history.bite_site }}</td>
                                                                <td>{{ history.immunization_status }}</td>
                                                                <td>{{ history.patient_id.birthday }}</td>                                                            
                                                                <td>{{ history.treatment.day0 }}</td>
                                                                <td>{{ history.treatment.day3 }}</td>
                                                                <td>{{ history.treatment.day7}}</td>
                                                                <td>{{ history.treatment.day28}}</td>
                                                                <td>{{ history.treatment.rig_given}}</td>
                                                                <td>{{ history.treatment.hrig }}</td>
                                                            </tr>   
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- Pagination -->
                                                <div id="pagination-content">
                                                    <ul class="pagination justify-content-center">
                                                        {% if histories.has_previous %}
                                                            <li class="page-item">
                                                                <a href="?page=1&{{ query_string }}" class="page-link">&laquo; First</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a href="?page={{ histories.previous_page_number }}&{{ query_string }}" class="page-link">Previous</a>
                                                            </li>
                                                        {% endif %}
                                                    
                                                        {% for num in histories.paginator.page_range %}
                                                            {% if histories.number == num %}
                                                                <li class="page-item active">
                                                                    <span class="page-link">{{ num }}</span>
                                                                </li>
                                                            {% elif num > histories.number|add:'-5' and num < histories.number|add:'5' %}
                                                                <li class="page-item">
                                                                    <a href="?page={{ num }}&{{ query_string }}" class="page-link">{{ num }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    
                                                        {% if histories.has_next %}
                                                            <li class="page-item">
                                                                <a href="?page={{ histories.next_page_number }}&{{ query_string }}" class="page-link">Next</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a href="?page={{ histories.paginator.num_pages }}&{{ query_string }}" class="page-link">Last &raquo;</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    .navbar-container {
    margin-bottom: 20px; /* Space between navbar and content */
    margin-top: 10px; /* Adjust top margin as needed */
    }
    .navbar {
        padding: 0 20px; /* Add padding to the navbar */
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-item {
        margin-right: 5px; /* Add margin to the nav items for spacing */
    }
    .nav-link {
        font-size: 16px; /* Adjust font size if needed */
    }
    .dropdown-menu {
        right: 0;
        left: auto; /* Make sure the dropdown menu aligns to the right */
    }
    .dropdown-item {
        font-size: 14px; /* Adjust font size if needed */
    }
    .navbar-toggler {
        margin-right: 20px; /* Add margin to the toggler button if needed */
    }
    .navbar-brand-logo {
        border: 1px solid #ddd; /* Add border if needed */
    }
    .text-primary {
        color: #007bff; /* Adjust color if needed */
    }

    /* Custom CSS for button width and icon size */
    .filter-button {
        width: 100px; /* Adjust width as needed */
        height: 35px; /* Adjust height as needed */
        /* background-color:grey;
        color: white; */
    }

    .filter-button .fas {
        font-size: 16px; /* Adjust icon size */
        margin-right: 8px; /* Add space between icon and text */
    }


    #userDropdown::after {
        display: none !important;
    }

    #searchUsername{
        width: 150px;
    }
    #startMonth{
        width: 150px;
    }
    #endMonth{
        width: 150px;
    }
    #searchName{
        width: 150px;
    }

</style>
{% endblock %}
