{% extends 'base.html' %}

{% load static %}
{% block title %}
Animal Bite and Rabies Monitoring System with GEO Mapping
{% endblock %}

{% block content %}

    <div class="row mb-2 py-2">
        <!-- Filter Section (Left Side) -->
        <div class="col-md-3 col-sm-3 col-lg-3">
            <div id="filterForm">
                <h5>Filter Data</h5>
                <form id="filterForm">
                    <div class="input-group mb-3 rounded">
                        <div class="input-group-text date-class" style="width: 60px; font-size: 12px;">Start</div>
                        <input type="date" class="form-control" id="startDate" name="startDate" value="{{ request.GET.startDate }}">
                    </div>
                    <div class="input-group mb-3 rounded">
                        <div class="input-group-text date-class" style="width: 60px; font-size: 12px;">End</div>
                        <input type="date" class="form-control" id="endDate" name="endDate" value="{{ request.GET.endDate }}">
                    </div>
        
                    <!-- Button aligned to the right -->
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" id="filterButton">Filter</button>
                    </div>
                </form>
            </div>
        </div>
        
             
        <!-- Map Section (Right Side) -->
        <div class="col-md-9 col-sm-9 col-lg-9 mb-4">
            <div id="mama-container">
                <div id="mama"></div>
            </div>
        </div>
    </div>


<!-- Row for the distribution of muni,patients and animals -->
<div class=" row">
    <!-- Municipality Chart -->
    <div class=" col-xl-6 col-lg-6" id="distributionMunicipality">
        <div class="card  mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Distribution of Municipality</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="municipalityChart"></canvas>      
                </div>
            </div>
            <!-- <div class="card-body">
                <h2>Naval is the highest</h2>
            </div> -->
        </div>
    </div>
    <!-- Patients and Animals Chart -->
    <div class=" col-xl-6 col-lg-6">
        <div class="card mb-2">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Distribution of Patients and Animals</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body mt-4 mb-4 " id="scrollGender">
                <div class="row justify-content-center" >
                    <div class="col-md-6 d-flex flex-column align-items-center border-right" >
                        <h6 class="text-center">Sex Distribution</h6>
                        <canvas id="genderChart"canvas>
                    </div>
                    <div class="col-md-6 d-flex flex-column align-items-center" id="scrollAnimal">
                        <h6 class="text-center">Animal Source of Exposure</h6>
                        <canvas id="animalChart"></canvas>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<!-- <script src="{% static 'assets/js/distribution.js' %}"></script> -->


<div id="total-cases-data" data-total-cases="{{ total_cases|default:'0' }}"></div>
<div id="total-rabies-data" data-rabies-cases="{{ total_rabies_cases|default:'0' }}"></div>
<script id="heatmap-data" type="application/json">{{ heatmap_data|safe }}</script>
<script id="rabies-heatmap-data" type="application/json">{{ rabies_heatmap_data|safe }}</script>
<!-- <script id="choropleth_map_data" type="application/json">{{ choropleth_data|safe }}</script> -->


{% endblock %}


{% block script %}
    <script src="{% static 'leaflet/js/munichart.js' %}"></script>
    <script>
        // Pass data to the external script
        const municipalities = {{ municipalities|safe }};
        const municipalityCaseCounts = {{ municipality_case_counts|safe }};
        const genderLabels = {{ gen|safe }};
        const genderData = {{ dataGender|safe }};
        const animalLabels = {{ animal|safe }};
        const animalData = {{ dataAnimal|safe }};
        
        // Initialize charts
        initMunicipalityChart(municipalities, municipalityCaseCounts);
        initGenderChart(genderLabels, genderData);
        initAnimalChart(animalLabels, animalData);
    </script>
{% endblock %}



{% block chart %}

<div class="container" id="monthlyCasesScroll">
    <!-- Chart Options Buttons -->
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Chart options">
                <button type="button" class="btn btn-outline-primary" id="showWeekly">Weekly</button>
                <button type="button" class="btn btn-outline-primary" id="showMonthly">Monthly</button>
                <button type="button" class="btn btn-outline-primary" id="showQuarterly">Quarterly</button>
                <button type="button" class="btn btn-outline-primary" id="showAnnual">Annual</button>
            </div>
        </div>
    </div>

    <!-- Chart Sections -->
    <div class="row canvaChart">
        <div class="col-xl-12 col-md-12 mb-3">
            <!-- Monthly Cases Section -->
            <div class="container card mb-2 chart-container" id="monthlyCasesSection">
                <div class="card-body">
                    <h2 class="text-primary font-weight-bold">Monthly Cases</h2>
                    <hr>
                    <canvas id="monthlyCasesChart" class="canvasChart"></canvas>
                </div>
            </div>
            
            <!-- Weekly Cases Section -->
            <div class="container card mb-2 chart-container" id="weeklyCasesSection" style="display: none;">
                <div class="card-body">
                    <h2 class="text-primary font-weight-bold">Weekly Cases</h2>
                    <hr>
                    <canvas id="weeklyCasesChart" class="canvasChart"></canvas>
                </div>
            </div>

            <!-- Daily Cases Section -->
            <div class="container card mb-2 chart-container" id="dailyCasesSection" style="display: none;">
                <div class="card-body">
                    <h2 class="font-weight-bold">Daily Cases</h2>
                    <hr>
                    <canvas id="dailyCasesChart" class="canvasChart"></canvas>
                </div>
            </div>

            <!-- Quarterly Cases Section -->
            <div class="container card mb-2 chart-container" id="quarterlyCasesSection" style="display: none;">
                <div class="card-body">
                    <h2 class="text-primary font-weight-bold">Quarterly Cases</h2>
                    <hr>
                    <canvas id="quarterlyCasesChart" class="canvasChart"></canvas>
                </div>
            </div>

            <!-- Annual Cases Section -->
            <div class="container card mb-2 chart-container" id="annualCasesSection" style="display: none;">
                <div class="card-body">
                    <h2 class="font-weight-bold">Annual Cases</h2>
                    <hr>
                    <canvas id="annualCasesChart" class="canvasChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

//Monthly Cases
var ctx = document.getElementById('monthlyCasesChart').getContext('2d');
    var months = {{ months|safe }};
    var caseCounts = {{ case_counts|safe }};
    

    var intensityColors = [
        '#6DA9FF', // Medium-light blue
        '#6DA9FF', // Medium-light blue
        '#3399FF', // Medium blue
        '#3399FF', // Medium blue
        '#007BFF', // Primary blue (Bootstrap primary)
        '#007BFF', // Primary blue (Bootstrap primary)
        '#0069D9', // Dark blue
        '#0069D9', // Dark blue
        '#0056B3', // Darker blue
        '#0056B3', // Darker blue
        '#004085',  // Darkest blue
        '#004085',  // Darkest blue
    ];

    // Function to map intensity based on the count of cases (for monthly cases)
    function getmonthlyColorByCases(count) {
        if (count < 50) {
            return intensityColors[0]; // Very light grey for low counts
        } else if (count < 100) {
            return intensityColors[1];
        } else if (count < 200) {
            return intensityColors[2];
        } else if (count < 300) {
            return intensityColors[3];
        } else if (count < 400) {
            return intensityColors[4];
        } else if (count < 500) {
            return intensityColors[5];
        } else {
            return intensityColors[6]; // Darker grey for high counts
        }
    }

    // Generate background and border colors based on the number of monthly cases
    var backgroundColors = caseCounts.map(count => getmonthlyColorByCases(count));
    var borderColors = backgroundColors.map(color => color.replace('0.6', '0.7')); // Darker border


    var monthlyCasesChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: months,
            datasets: [{
                label: 'Monthly Cases',
                data: caseCounts,
                /* backgroundColor: backgroundColors,  
                borderColor: borderColors, */
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1,
                borderRadius: 30,
                
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Month'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Number of Cases'
                    }
                }
            },
            plugins: {
                legend: {
                    position: 'top'
                },
                datalabels: {
                    formatter: (value) => value,
                    color: '#fff',
                    font: {
                        weight: 'bold',
                        size: 14
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });

    // Weekly Cases Chart
    var ctxWeekly = document.getElementById('weeklyCasesChart').getContext('2d');
    var weeks = {{ weeks|safe }};
    var weeklyCounts = {{ weekly_case_counts|safe }};


    // Define grey intensity colors for weekly cases
    var intensityColors = [
        '#6DA9FF', // Medium-light blue
        '#6DA9FF', // Medium-light blue
        '#3399FF', // Medium blue
        '#3399FF', // Medium blue
        '#007BFF', // Primary blue (Bootstrap primary)
        '#007BFF', // Primary blue (Bootstrap primary)
        '#0069D9', // Dark blue
        '#0069D9', // Dark blue
        '#0056B3', // Darker blue
        '#0056B3', // Darker blue
        '#004085',  // Darkest blue
        '#004085',  // Darkest blue
    ];

    // Function to map intensity based on the count of cases (for weekly cases)
    function getColorByCases(count) {
        if (count < 50) {
            return intensityColors[0]; // Very light grey for low counts
        } else if (count < 50) {
            return intensityColors[1];
        } else if (count < 100) {
            return intensityColors[2];
        } else if (count < 200) {
            return intensityColors[3];
        } else if (count < 250) {
            return intensityColors[4];
        } else if (count < 300) {
            return intensityColors[5];
        } else if (count < 350) {
            return intensityColors[6];
        } else {
            return intensityColors[7]; // Darkest grey for high counts
        }
    }

    // Generate background and border colors based on the number of weekly cases
    var backgroundColors = weeklyCounts.map(count => getColorByCases(count));
    var borderColors = backgroundColors.map(color => color.replace('0.6', '0.7')); // Adjust border opacity if needed



    var weeklyCasesChart = new Chart(ctxWeekly, {
        type: 'bar',
        data: {
            labels: weeks,
            datasets: [{
                label: 'Weekly Cases',
                data: weeklyCounts,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1,
                borderRadius: 50,
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Week'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Number of Cases'
                    }
                }
            },
            plugins: {
                legend: {
                    position: 'top'
                },
                datalabels: {
                    formatter: (value) => value,
                    color: '#fff',
                    font: {
                        weight: 'bold',
                        size: 14
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });


    //Daily Chart
    var ctxDaily = document.getElementById('dailyCasesChart').getContext('2d');
    var days = {{ days|safe }};
    var dailyCounts = {{ daily_case_counts|safe }};

    var dailyCasesChart = new Chart(ctxDaily, {
        type: 'bar',
        data: {
            labels: days,
            datasets: [{
                label: 'Daily Cases',
                data: dailyCounts,
                backgroundColor: 'rgba(0, 123, 255, 0.6)',
                borderColor: 'rgba(0, 123, 255, 0.7)',
                borderWidth: 1,
                borderRadius: 50,
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Day'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Number of Cases'
                    }
                }
            },
            /* plugins: {
                legend: {
                    labels: {
                        color: 'red' // Set the color of the label text to red
                    }
                }
            } */
        }
    });

    // Quarterly Cases Chart

var ctxQuarterly = document.getElementById('quarterlyCasesChart').getContext('2d');
var quarters = {{ quarters|safe }};
var quarterlyCounts = {{ quarterly_case_counts|safe }};

var quarterlyCasesChart = new Chart(ctxQuarterly, {
    type: 'bar',
    data: {
        labels: quarters,
        datasets: [{
            label: 'Quarterly Cases',
            data: quarterlyCounts,
            backgroundColor: 'rgba(0, 123, 255, 0.6)',
            borderColor: 'rgba(0, 123, 255, 0.7)',
            borderWidth: 1,
            borderRadius: 30,
        }]
    },
    options: {
        responsive: true,
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Year'
                }
            },
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'Number of Cases'
                }
            }
        },
        plugins: {
                legend: {
                    position: 'top'
                },
                datalabels: {
                    formatter: (value) => value,
                    color: '#fff',
                    font: {
                        weight: 'bold',
                        size: 14
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
});


    // Annual Cases Chart
    var ctxAnnual = document.getElementById('annualCasesChart').getContext('2d');
    var years = {{ years|safe }};
    var annualCounts = {{ annual_case_counts|safe }};

    var annualCasesChart = new Chart(ctxAnnual, {
        type: 'bar',
        data: {
            labels: years,
            datasets: [{
                label: 'Annual Cases',
                data: annualCounts,
                backgroundColor: 'rgba(0, 123, 255, 0.6)',
                borderColor: 'rgba(0, 123, 255, 0.7)',
                borderWidth: 1,
                borderRadius: 50,
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Year'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Number of Cases'
                    }
                }
            },
            plugins: {
                legend: {
                    position: 'top'
                },
                datalabels: {
                    formatter: (value) => value,
                    color: '#fff',
                    font: {
                        weight: 'bold',
                        size: 14
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });

//GenderScroll
document.getElementById('scrollToGender').addEventListener('click', function () {
    document.getElementById('scrollGender').scrollIntoView({ 
        behavior: 'smooth',
        block: 'center',
        inline: 'nearest' 
    });

});
//AnimalScroll
document.getElementById('scrollToAnimal').addEventListener('click', function () {
    document.getElementById('scrollAnimal').scrollIntoView({ 
        behavior: 'smooth',
        block: 'center',
        inline: 'nearest'
    });

});

//WeeklyScroll
document.getElementById('scrollToWeeklyCases').addEventListener('click', function () {
    document.getElementById('monthlyCasesScroll').scrollIntoView({ 
        behavior: 'smooth',
        block: 'center',
        inline: 'center' 
    });
});
//MuniScroll
document.getElementById('scrollToMunicipality').addEventListener('click', function () {
    document.getElementById('distributionMunicipality').scrollIntoView({ 
        behavior: 'smooth',
        block: 'center',
        inline: 'center'
    });

});

/* document.getElementById('showDaily').addEventListener('click', function() {
    document.getElementById('dailyCasesSection').style.display = 'block';
    document.getElementById('weeklyCasesSection').style.display = 'none';
    document.getElementById('monthlyCasesSection').style.display = 'none';
    document.getElementById('quarterlyCasesSection').style.display = 'none';
    document.getElementById('annualCasesSection').style.display = 'none';
});
 */
document.getElementById('showWeekly').addEventListener('click', function() {
    /* document.getElementById('dailyCasesSection').style.display = 'none'; */
    document.getElementById('weeklyCasesSection').style.display = 'block';
    document.getElementById('monthlyCasesSection').style.display = 'none';
    document.getElementById('quarterlyCasesSection').style.display = 'none';
    document.getElementById('annualCasesSection').style.display = 'none';
});

document.getElementById('showMonthly').addEventListener('click', function() {
    /* document.getElementById('dailyCasesSection').style.display = 'none'; */
    document.getElementById('weeklyCasesSection').style.display = 'none';
    document.getElementById('monthlyCasesSection').style.display = 'block';
    document.getElementById('quarterlyCasesSection').style.display = 'none';
    document.getElementById('annualCasesSection').style.display = 'none';
});

document.getElementById('showQuarterly').addEventListener('click', function() {
    /* document.getElementById('dailyCasesSection').style.display = 'none'; */
    document.getElementById('weeklyCasesSection').style.display = 'none';
    document.getElementById('monthlyCasesSection').style.display = 'none';
    document.getElementById('quarterlyCasesSection').style.display = 'block';
    document.getElementById('annualCasesSection').style.display = 'none';
});

document.getElementById('showAnnual').addEventListener('click', function() {
    /* document.getElementById('dailyCasesSection').style.display = 'none'; */
    document.getElementById('weeklyCasesSection').style.display = 'none';
    document.getElementById('monthlyCasesSection').style.display = 'none';
    document.getElementById('quarterlyCasesSection').style.display = 'none';
    document.getElementById('annualCasesSection').style.display = 'block';
});

</script>

{% endblock%}


