{% extends 'monitoring/base.html' %}

{% load static %}

{% block title %}
Overview
{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<!-- Leaflet Gesture Handling CSS -->
<link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css" type="text/css">

<link rel="stylesheet" href="{% static 'assets/css/overview.css' %}">
{% endblock %}


{% block content %}

{% include 'partials/_navlink.html' %}
<div class="col-md-3">
            <div id="filterContainer">
                <h5>Filter Data</h5>
                <form id="filterForm">
                    <div class="input-group mb-3 shadow rounded">
                        <div class="input-group-text date-class" style="width: 60px; font-size: 12px;">Start</div>
                        <input type="date" class="form-control" id="startDate" name="startDate" value="{{ request.GET.startDate }}">
                    </div>
                    <div class="input-group mb-3 shadow rounded">
                        <div class="input-group-text date-class" style="width: 60px; font-size: 12px;">End</div>
                        <input type="date" class="form-control" id="endDate" name="endDate" value="{{ request.GET.endDate }}">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" id="filterButton">Filter</button>
                    </div>
                </form>
            </div>
</div>   

<div class="col-md-9 mb-4">
            <div id="mama-container">
                <div id="mama"></div>
            </div>
</div>
{% endblock %}

{% block chart %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="d-flex">
            <div class="card mb-4 col-xl-6 col-lg-6 d-flex flex-column" id="municipalityDownload">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Distribution of Municipality</h6>
                </div>
                <div class="card-body muni-body">
                    <div class="chart-area">
                        <canvas id="municipalityChart"></canvas>      
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-outline-danger btn-sm mr-2" id="downloadMunicipalityPDF">Download PDF</button>
                </div>
            </div>

            <div class="card mb-2 col-xl-6 col-lg-6 d-flex flex-column">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Distribution of Patients and Animals</h6>
                </div>
                <div class="card-body mt-4 mb-4 d-flex flex-column" id="scrollGender">
                    <div class="row justify-content-center flex-grow-1">
                        <div class="col-md-6 d-flex flex-column align-items-center border-right">
                            <h6 class="text-center text-primary">Sex Distribution</h6>
                            <canvas id="genderChart"></canvas>
                        </div>

                        <div class="col-md-6 d-flex flex-column align-items-center" id="scrollAnimal">
                            <h6 class="text-center text-primary">Animal Source of Exposure</h6>
                            <canvas id="animalChart"></canvas>
                        </div>
                    </div>  
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-outline-danger btn-sm mr-2" id="downloadGenderPDF">Download Sex PDF</button>
                    <button class="btn btn-outline-danger btn-sm mr-2" id="downloadAnimalPDF">Download Animal PDF</button>
                </div>
            </div>
        </div>
    </div>
</div>


<hr class="mt-5 mb-5" style="color: blue;">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

<!-- Pass the heatmap data to the map.js -->
<div id="total-cases-data" data-total-cases="{{ total_cases|default:'0' }}"></div>
<div id="total-rabies-data" data-rabies-cases="{{ total_rabies_cases|default:'0' }}"></div>
<script id="heatmap-data" type="application/json">{{ heatmap_data|safe }}</script>
<script id="rabies-heatmap-data" type="application/json">{{ rabies_heatmap_data|safe }}</script>
<script>
    window.onload = init;
    
    function init() {
        const totalCasesElement = document.getElementById('total-cases-data');
        const totalCases = parseInt(totalCasesElement.getAttribute('data-total-cases'), 10);
        
        const heatmapDataScript = document.getElementById('heatmap-data');
        var heatmapData = JSON.parse(heatmapDataScript.textContent);
        
        // ... (rest of your map initialization code) ...
        
        // Handling the filter button click event
        document.getElementById('filterButton').addEventListener('click', function() {
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
    
            // Create a new form to submit the filter dates
            const form = document.createElement('form');
            form.method = 'GET';
            form.action = window.location.href;
    
            // Add start date and end date as hidden inputs
            const startInput = document.createElement('input');
            startInput.type = 'hidden';
            startInput.name = 'startDate';
            startInput.value = startDate;
    
            const endInput = document.createElement('input');
            endInput.type = 'hidden';
            endInput.name = 'endDate';
            endInput.value = endDate;
    
            form.appendChild(startInput);
            form.appendChild(endInput);
            document.body.appendChild(form);
            form.submit();
        });
    }
</script>

<div class="container" id="monthlyCasesScroll">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div class="btn-group" role="group" aria-label="Download options">
                <button type="button" class="btn btn-outline-danger" id="downloadPDF">Download PDF</button>
            </div>

            <div class="btn-group" role="group" aria-label="Chart options">
                <button type="button" class="btn btn-outline-primary" id="showWeekly">Weekly</button>
                <button type="button" class="btn btn-outline-primary" id="showMonthly">Monthly</button>
                <button type="button" class="btn btn-outline-primary" id="showQuarterly">Quarterly</button>
                <button type="button" class="btn btn-outline-primary" id="showAnnual">Annual</button>
            </div>
        </div>
    </div>

    <div class="row canvaChart">
            <div class="container card mb-2 chart-container" id="monthlyCasesSection">
                <div class="card-body">
                    <h2 class="text-primary font-weight-bold">Monthly Cases</h2>
                    <hr>
                    <canvas id="monthlyCasesChart" class="canvasChart"></canvas>
                </div>
            </div>
            
            <div class="container card mb-2 chart-container" id="weeklyCasesSection" style="display: none;">
                <div class="card-body">
                    <h2 class="text-primary font-weight-bold">Weekly Cases</h2>
                    <hr>
                    <canvas id="weeklyCasesChart" class="canvasChart"></canvas>
                </div>
            </div>

            <div class="container card mb-2 chart-container" id="dailyCasesSection" style="display: none;">
                <div class="card-body">
                    <h2 class="font-weight-bold">Daily Cases</h2>
                    <hr>
                    <canvas id="dailyCasesChart" class="canvasChart"></canvas>
                </div>
            </div>

            <div class="container card mb-2 chart-container" id="quarterlyCasesSection" style="display: none;">
                <div class="card-body">
                    <h2 class="text-primary font-weight-bold">Quarterly Cases</h2>
                    <hr>
                    <canvas id="quarterlyCasesChart" class="canvasChart"></canvas>
                </div>
            </div>

            <div class="container card mb-2 chart-container" id="annualCasesSection" style="display: none;">
                <div class="card-body">
                    <h2 class="font-weight-bold">Annual Cases</h2>
                    <hr>
                    <canvas id="annualCasesChart" class="canvasChart"></canvas>
                </div>
            </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- Leaflet Gesture Handling JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.js"></script>
<!-- leaflet heat plugin -->
<script src="{% static 'leaflet/js/leaflet-heat.js' %}"></script>
<script src="{% static 'leaflet/js/simpleheat.js' %}"></script>

<script src="{% static 'assets/js/map.js' %}"></script>
<script src="{% static 'assets/js/overviewDistribution.js' %}"></script>
<script src="{% static 'assets/js/overviewMonthly.js' %}"></script>

<script>
    // Pass data to the external script
    const municipalities = {{ municipalities|safe }};
    const municipalityCaseCounts = {{ municipality_case_counts|safe }};
    const genderLabels = {{ gen|safe }};
    const genderData = {{ dataGender|safe }};
    const animalLabels = {{ animal|safe }};
    const animalData = {{ dataAnimal|safe }};
    
    // Initialize charts
    initMunicipalityChart(municipalities, municipalityCaseCounts);
    initGenderChart(genderLabels, genderData);
    initAnimalChart(animalLabels, animalData);
</script>

<script>
    // Pass data to the external script
    const days = {{ days|safe }};
    const daily_case_counts = {{ daily_case_counts|safe }};
    const weeks = {{ weeks|safe }};
    const weekly_case_counts = {{ weekly_case_counts|safe }};
    const months = {{ months|safe }};
    const case_counts = {{ case_counts|safe }};

    const quarters = {{ quarters|safe }};
    const quarterly_case_counts = {{ quarterly_case_counts|safe }};
    const years = {{ years|safe }};
    const annual_case_counts = {{ annual_case_counts|safe }};
    
    // Initialize charts
    initDailyChart(days, daily_case_counts);
    initWeeklyChart(weeks, weekly_case_counts);
    initMonthlyChart(months, case_counts);
    initQuarterlyChart(quarters, quarterly_case_counts);
    initAnnualChart(years, annual_case_counts);
</script>

<script>
    /* document.getElementById('showDaily').addEventListener('click', function() {
            document.getElementById('dailyCasesSection').style.display = 'block';
            document.getElementById('weeklyCasesSection').style.display = 'none';
            document.getElementById('monthlyCasesSection').style.display = 'none';
            document.getElementById('quarterlyCasesSection').style.display = 'none';
            document.getElementById('annualCasesSection').style.display = 'none';
        });
        */
        document.getElementById('showWeekly').addEventListener('click', function() {
            /* document.getElementById('dailyCasesSection').style.display = 'none'; */
            document.getElementById('weeklyCasesSection').style.display = 'block';
            document.getElementById('monthlyCasesSection').style.display = 'none';
            document.getElementById('quarterlyCasesSection').style.display = 'none';
            document.getElementById('annualCasesSection').style.display = 'none';
        });

        document.getElementById('showMonthly').addEventListener('click', function() {
            /* document.getElementById('dailyCasesSection').style.display = 'none'; */
            document.getElementById('weeklyCasesSection').style.display = 'none';
            document.getElementById('monthlyCasesSection').style.display = 'block';
            document.getElementById('quarterlyCasesSection').style.display = 'none';
            document.getElementById('annualCasesSection').style.display = 'none';
        });

        document.getElementById('showQuarterly').addEventListener('click', function() {
            /* document.getElementById('dailyCasesSection').style.display = 'none'; */
            document.getElementById('weeklyCasesSection').style.display = 'none';
            document.getElementById('monthlyCasesSection').style.display = 'none';
            document.getElementById('quarterlyCasesSection').style.display = 'block';
            document.getElementById('annualCasesSection').style.display = 'none';
        });

        document.getElementById('showAnnual').addEventListener('click', function() {
            /* document.getElementById('dailyCasesSection').style.display = 'none'; */
            document.getElementById('weeklyCasesSection').style.display = 'none';
            document.getElementById('monthlyCasesSection').style.display = 'none';
            document.getElementById('quarterlyCasesSection').style.display = 'none';
            document.getElementById('annualCasesSection').style.display = 'block';
        });
</script>
{% endblock %}