
{% include 'partials/_indexnav.html' %}

<footer class="shadow py-4 mt-4">
    <div class="container">
        <!-- Province of Biliran Section with Green Background and Underline -->
        <div class="text-center mb-3" style="background-color: green;">
            <h5 class="font-weight-bold text-white" style="text-decoration: underline;">Province of Biliran</h5>
            <h6 class="text-white">Animal Bite Treatment Center (ABTC)</h6>
            <h6 class="text-white">CLINIC SCHEDULE</h6>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Table with Red Header Background -->
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive table-striped text-center">
                        <thead style="background-color: red; color: white;">
                            <tr>
                                <th>ABTC</th>
                                <th>ADDRESS</th>
                                <th>SCHEDULE</th>
                                <th>CONTACT PERSON</th>
                                <th>HOTLINE NUMBER</th>
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            <tr>
                                <td class="font-weight-bold">Caibiran</td>
                                <td>RHU Caibiran,<br> Brgy. Palenque, Caibiran</td>
                                <td class="font-weight-bold">Monday and Thursday</td>
                                <td>Ms. Famela Verana</td>
                                <td>0917-124-8588</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Maripipi</td>
                                <td>RHU Maripipi,<br>Brgy. Ermita, Maripipi, Biliran</td>
                                <td class="font-weight-bold">Monday and Thursday</td>
                                <td>Mr. Sidney Gutierrez</td>
                                <td>0927-602-407</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Kawayan</td>
                                <td>RHU Kawayan,<br>Brgy.Poblacion,Kawayan,Biliran</td>
                                <td class="font-weight-bold">Tuesday and Friday</td>
                                <td>Ms. Ma. Queena Lynn Gonzales</td>
                                <td>0915-490-2732</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Biliran Province Hospital</td>
                                <td>Biliran Province Hospital, <br>Castin St, Naval, Biliran</td>
                                <td class="font-weight-bold">Wednesday and Saturday</td>
                                <td>Ms. Melissa Astillo <br> Ms. Janice C. Horca</td>
                                <td>0915-490-2732</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <p class="mb-0">For any inquiries, please contact the hotline numbers provided above.</p>
        </div>
    </div>
</footer>