body {
    padding-top: 75px ; 
}



/* Custom CSS for button width and icon size */
.filter-button {
    width: 100px; /* Adjust width as needed */
    height: 35px; /* Adjust height as needed */
    /* background-color:grey;
    color: white; */
}

.filter-button .fas {
    font-size: 16px; /* Adjust icon size */
    margin-right: 8px; /* Add space between icon and text */
}

#userDropdown::after {
    display: none !important;
}

#searchUsername{
    width: 150px;
}
#startMonth{
    width: 150px;
}
#endMonth{
    width: 150px;
}
#searchName{
    width: 150px;
}
.card {
    border: none; /* Remove any border from the card */
}

.card-body {
    border: none; /* Ensure the card body doesn't have a border */
}

.signature-section {
    text-align: center;
}

.signature-line {
    margin-top: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    width: 300px; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
}

.signature-name {
    font-weight: bold;
    margin-top: -25px; /* Keeps it close to the line */
}

.signature-title {
    margin-top: -10px; /* Adjusts spacing below the signature */
}