{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title%} {% endblock %}</title>
    <link href="{% static 'assets/images/seal.png' %}" rel="icon" type="image/png">

    <!-- Custom fonts for this template-->
    <!-- <link href="{% static 'strap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"> -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'strap/css/sb-admin-2.min.css' %}" rel="stylesheet">


    <!-- style for mapping -->
    <link rel="stylesheet" href="{% static 'leaflet/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <!-- <link href="{% static 'strap/css/sb-admin-2.min.css' %}" rel="stylesheet"> -->

    <!-- link for chartJs Library -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Include Leaflet.heat.js -->

    <!-- Include Leaflet and Leaflet.heat.js -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.heat@0.2.0/dist/leaflet-heat.min.js"></script>



    <style>
        #responsive-text {
            font-size: 20px; /* Base font size for smallest screens */
            line-height: 24px;
        }

        @media (min-width: 576px) {
            #responsive-text {
                font-size: 20px; /* Slightly larger for small screens */
            }
        }

        @media (min-width: 768px) {
            #responsive-text {
                font-size: 24px; /* Medium screen size */
            }
        }

        @media (min-width: 992px) {
            #responsive-text {
                font-size: 28px; /* Larger screen size */
            }
        }

        @media (min-width: 1200px) {
            #responsive-text {
                font-size: 30px; /* Extra-large screen size */
            }
        }


        #responsive-image {
            margin-left: 20px;
        }

        @media (min-width: 576px) {
            #responsive-image {
                margin-left: 20px;
            }
        }

        @media (min-width: 768px) {
            #responsive-image {
                margin-left: 30px;
            }
        }

        @media (min-width: 992px) {
            #responsive-image {
                margin-left: 40px;
            }
        }

        @media (min-width: 1200px) {
            #responsive-image {
                margin-left: 50px;
            }
        }

        /* #nav-up{
            margin-top: 80px;
        } */
        
    </style>

    
</head>

<body id="page-top" style="background-color: rgb(246, 243, 240)"> 
    <!-- Page Wrapper -->
    <div id="wrapper shadow">   
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex shadow flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white mb-4 topbar shadow " ><!-- fixed-top static-top -->
                    <img src="{% static 'assets/images/3.jpeg' %}" alt="Logo" class="rounded-circle mr-4" id="responsive-image" style="width: 55px; height: 55px;">
                    <span class="text-primary font-weight-bold d-inline-block d-md-inline col-sm-8 col-lg-9 col-md-8" id="responsive-text">Animal Bite and Rabies Monitoring System with GEO Mapping</span>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle m-3" href="" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600" id="home-admin">Admin</span>
                                <i class="fas fa-user" id="home-icon-admin"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Login
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid" id="nav-up">
                    <!-- Page Heading -->
                    <div class="row">
                        <!-- Display the total Patients -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="javascript:void(0);" id="scrollToWeeklyCases" style="text-decoration: none;">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Total Patient Cases</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_history }}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-users fa-3x text-900"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Display Municipality Name and Counts -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="javascript:void(0);" id="scrollToMunicipality" style="text-decoration: none;">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Most Municipality of Exposure</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {{ municipality.muni_id__muni_name }} ({{ municipality.count }} cases)
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-map-marker-alt fa-3x text-900"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <!-- Display Sex Name and Counts -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="javascript:void(0);"  id="scrollToGender"  style="text-decoration: none;">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
    
                                            <div class="col mr-2">
                                                {% if gender_counts.sex %}
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    Most Frequent Sex
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {{ gender_counts.sex|capfirst }} ({{ gender_counts.count }} cases)
                                                </div>
                                                {% else %}
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    No data available
                                                </div>
                                                {% endif %}
                                                </div>
                                            <div class="col-auto">
                                                {% if gender_counts.sex == "male" %}
                                                    <i class="fas fa-male fa-3x text-300"></i> <!-- Use male icon -->
                                                {% elif gender_counts.sex == "female" %}
                                                    <i class="fas fa-female fa-3x text-300"></i> <!-- Use female icon -->
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <!-- Display the Animal that bites frequently -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="javascript:void(0);" id="scrollToAnimal" style="text-decoration: none;">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                    Most Frequent Animal Involved
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {% if most_cases_animal %}
                                                        {{ most_cases_animal.source_of_exposure }} ({{ most_cases_animal.count }} cases)
                                                    {% else %}
                                                        No data available
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                {% if most_cases_animal %}
                                                    {% if most_cases_animal.source_of_exposure == 'Dog' %}
                                                        <i class="fas fa-dog fa-3x text-900"></i>
                                                    {% elif most_cases_animal.source_of_exposure == 'Cat' %}
                                                        <i class="fas fa-cat fa-3x text-900"></i>
                                                    {% else %}
                                                        <i class="fas fa-question-circle fa-3x text-900"></i>
                                                    {% endif %}
                                                {% else %}
                                                    <i class="fas fa-question-circle fa-3x text-900"></i>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <div class="container-fluid mt-2">
        {% block content %}
        {% endblock %}
    </div>

    <div class="container-fluid mt-2">
        {% block chart %}
        {% endblock %}
    </div>
    
    <!-- Login Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Do you want to go to Admin?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Login" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'monitoring:admin_redirect' %}">Login</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="py-4 mt-4">
        <div class="container">
            <!-- Province of Biliran Section with Green Background and Underline -->
            <div class="text-center mb-3" style="background-color: green;">
                <h5 class="font-weight-bold text-white" style="text-decoration: underline;">Province of Biliran</h5>
                <h6 class="text-white">Animal Bite Treatment Center (ABTC)</h6>
                <h6 class="text-white">CLINIC SCHEDULE</h6>
            </div>
    
            <div class="row">
                <div class="col-12">
                    <!-- Table with Red Header Background -->
                    <table class="table table-bordered table-striped text-center">
                        <thead style="background-color: red; color: white;">
                            <tr>
                                <th>ABTC</th>
                                <th>ADDRESS</th>
                                <th>SCHEDULE</th>
                                <th>CONTACT PERSON</th>
                                <th>HOTLINE NUMBER</th>
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            <tr>
                                <td class="font-weight-bold">Caibiran</td>
                                <td>RHU Caibiran,<br> Brgy. Palenque, Caibiran</td>
                                <td class="font-weight-bold">Monday and Thursday</td>
                                <td>Ms. Famela Verana</td>
                                <td>0917-124-8588</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Maripipi</td>
                                <td>RHU Maripipi,<br>Brgy. Ermita, Maripipi, Biliran</td>
                                <td class="font-weight-bold">Monday and Thursday</td>
                                <td>Mr. Sidney Gutierrez</td>
                                <td>0927-602-407</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Kawayan</td>
                                <td>RHU Kawayan,<br>Brgy.Poblacion,Kawayan,Biliran</td>
                                <td class="font-weight-bold">Tuesday and Friday</td>
                                <td>Ms. Ma. Queena Lynn Gonzales</td>
                                <td>0915-490-2732</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Biliran Province Hospital</td>
                                <td>Biliran Province Hospital, <br>Castin St, Naval, Biliran</td>
                                <td class="font-weight-bold">Wednesday and Saturday</td>
                                <td>Ms. Melissa Astillo <br> Ms. Janice C. Horca</td>
                                <td>0915-490-2732</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="text-center mt-3">
                <p class="mb-0">For any inquiries, please contact the hotline numbers provided above.</p>
            </div>
        </div>
    </footer>
    
   <!--  <script src="{% static 'assets/js/distribution.js'  %}"></script> -->

<!--     <script src="{% static 'assets/index.js' %}"></script> -->
    <script src="{% static 'leaflet/main.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- leaflet heat plugin -->
    <script src="{% static 'leaflet/leaflet-heat.js' %}"></script>
    <script id="heatmap-data" type="application/json">{{ heatmap_data|json_script:"heatmap-data" }}</script>
    <script id="address-points" type="application/json">{{ address_points|json_script:"address-points" }}</script>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'strap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'strap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'strap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    

</body>

</html>

