body {
    overflow-x: hidden;
}

#mama-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#mama {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#filterForm {
    width: 100%;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#filterForm:hover {
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

#filterForm h5 {
    color: #007bff;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.25rem;
}

.input-group {
    margin-bottom: 15px;
}

.date-class {
    background-color: rgba(45, 45, 241, 0.7);
    color: white;
    transition: background-color 0.3s;
}

.date-class:hover {
    background-color: #0000ff;
}

.btn-primary {
    background-color:rgba(45, 45, 241, 0.7);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s, transform 0.3s;
    color: white;
}

.btn-primary:hover {
    background-color: #0000ff;
    transform: translateY(-2px);
}
